@viewer-prefix-cls: react-viewer;

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot');
  src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf') format('truetype'),
      url('fonts/icomoon.woff') format('woff'),
      url('fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.@{viewer-prefix-cls} {

  &-inline {
    position: relative;
    width: 100%;
    height: 100%;
  }

  @zIndex: 1000;

  @btn-background-color: rgba(0, 0, 0, .5);
  @btn-hover-background-color: rgba(0, 0, 0, .8);

  & ul {
    margin: 0;
    padding: 0;
  }

  & li {
    list-style: none;
  }

  & {
    opacity: 0;
  }

  &-mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #373737;
    background-color: rgba(55, 55, 55, 0.6);
    height: 100%;
    filter: alpha(opacity=50);
    z-index: @zIndex;
  }

  &-btn {
    background-color: @btn-background-color;
    color: white;
  }

  &-btn-toggle {
    color: white;
    position: relative;
    z-index: 1007;
    border: none;
    float: right;
    top: 0;
    margin-right: 35px;
  }

  &-toggle-left {
    color: white;
    position: relative;
    z-index: 1007;
    float: right;
    border: none;
    margin-right: 0;
    top:0;
  }

  &-btn-toggle-nav {
    width: 33px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color:white;
  }
  
  &-btn:hover{
    background-color: @btn-hover-background-color;
  }

  &-close {
    position: fixed;
    top: 0px;
    right: 0px;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 0 0 0 40px;   
    cursor: pointer;
    z-index: @zIndex + 10;
  }

  &-close > i {
    position: relative;
    top: 4px;
    left: 18px;
  }

  &-fullScreen {
    position: fixed;
    top: 0px;
    right: 0px;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 0 0 0 40px;   
    cursor: pointer;
    z-index: @zIndex + 100;
  }

  &-fullScreen > i {
    position: relative;
    top: 4px;
    left: 18px;
  }

  &-canvas {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    z-index: @zIndex + 5;
    > img {
      display: block;
      width: auto;
      height: auto;
      user-select: none;
    }
    > img.drag {
      cursor: move;
    }
  }
  
  &-canvas-title {
    position: absolute;
    width: 100%;
    z-index: 2;
    text-align: center;
    margin-top: 5px;

    .title-container {
      color: #ccc;
      padding: 5px 20px;
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 15px;
      min-width: 100px;
    }
  }

  &-footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    text-align: center;
    z-index: @zIndex + 5;
  }

  &-uptoolbar {
    position: absolute;
    right: 0;
    left: 0;
    overflow: hidden;
    text-align: center;
    z-index: @zIndex + 5;
  }

  &-inline > &-mask, &-inline > &-close,  &-inline > &-fullScreen, &-inline > &-canvas, &-inline > &-footer {
    position: absolute;
  }

  &-attribute {
    margin: 0;
    margin-bottom: 6px;
    opacity: .8;
    color: #ccc;
    font-size: 15px;
  }

  @toolbarHeight: 28px;

  &-toolbar {
    margin-bottom: 6px !important;
  }

  &-toolbar li {
    display: inline-block;
    width: @toolbarHeight;
    height: @toolbarHeight;
    border-radius: @toolbarHeight;
    margin-right: 3px;
    margin-bottom: 3px;
    cursor: pointer;
    line-height: 28px;
  }

  &-toolbar li:hover {
    background-color: rgba(0, 0, 0, .8);
  }

  li.empty {
    background-color: transparent;
    cursor: default;
  }

  &-navbar {
    background-color: @btn-background-color;
    overflow: hidden;
  }

  &-navbarside {
    &-scrollcontrol {
      cursor: pointer;
      text-align: center;
      -webkit-touch-callout: none; 
      -webkit-user-select: none; 
      -khtml-user-select: none; 
      -moz-user-select: none; 
      -ms-user-select: none; 
      user-select: none; 
      transform: rotate(90deg);

      &.up {
        transform: rotate(-90deg);
      }
    }
    &-container {
      overflow: hidden;
      height: 90%;
      position: relative;
    }
    .react-viewer-list li {
      display: block;
      margin-top: 10px;
    }
    background-color: @btn-background-color;
    overflow: hidden;
    position: absolute;
    z-index: 1006;
    justify-content: center;
    top: 0;
    right: 0;
    height: 100%;
    padding: 17px;
    min-width: 65px;
  }

  &-modal{
    .react-viewer-navbarside{
      position: fixed;
      height: 100%;
      top: 0;
    }
    .react-viewer-uptoolbar{
      top:0;
    }
  }

  &-navbar-paginator {
    font-style: italic;
    position: absolute;
    bottom: calc(@viewer-list-item-height + 10);
    right: 10px;
    color: #ccc;
    font-size: 15px;
  }

  @viewer-list-item-width: 30px;
  @viewer-list-item-height: 50px;
  @viewer-list-item-img-width: @viewer-list-item-width + 30px;
  @viewer-list-item-img-marginLeft: -(@viewer-list-item-img-width - @viewer-list-item-width) /2;

  &-list {
    height: @viewer-list-item-height;
    padding: 1px;
  }

  &-list > li {
    display: inline-block;
    width: @viewer-list-item-width;
    height: @viewer-list-item-height;
    cursor: pointer;
    overflow: hidden;
    margin-right: 1px;
  }

  &-list > li > img {
    width: @viewer-list-item-img-width;
    height: @viewer-list-item-height;
    margin-left: @viewer-list-item-img-marginLeft;
    opacity: .5;
  }  

  &-list > li.active > img {
    opacity: 1;
  }

  @transitionDuration: .3s;
  @transitionFunc: ease-out;

  &-transition {
    transition: opacity @transitionDuration @transitionFunc;
  }

  &-image-transition {
    transition-property: width, height, margin, transform;
    transition-duration: @transitionDuration;
    transition-timing-function: @transitionFunc;
  }

  &-list-transition {
    transition: margin @transitionDuration @transitionFunc;
  }
}

@icon-prefix-cls: react-viewer-icon;

.@{icon-prefix-cls} {
  & {
    font-family: 'icomoon' !important;
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    font-size: 13px;    
  }

  &-zoomIn:before {
    content: '\ea0a';
  }

  &-zoomOut:before {
    content: '\ea0b';
  }

  &-prev:before {
    content: '\ea38';
  } 

  &-next:before {
    content: '\ea34';
  } 

  &-close:before {
    content: '\ea0f';
  } 

  &-fullScreen:before {
    background-position: -220px 0;
    content: '\ea0f';
  } 
  
  &-fullscreen-exit::before {
    background-position: -240px 0;
    content: 'Exit Full Screen';
  }

  &-rotateLeft:before {
    content: '\e967';
  }  

  &-rotateRight:before {
    content: '\e968';
  } 

  &-reset:before {
    content: '\e984';
  }

  &-scaleX:before {
    content: '\ea60';
  } 

  &-scaleY:before {
    content: '\ea5f';
  }
  
  &-download:before {
    content: '\e9c7';
  }  
  &-bookmark:before {
    content: '\e9d2';
  }
  &-export:before {
    content: '\e9c7';
  }   
  &-compareImages:before {
    content: '\ea6e';
  }   
}

.spin {
  color: #2db7f5;
  vertical-align: middle;
  text-align: center;
  opacity: 0;
  position: absolute;
  -webkit-transition: -webkit-transform .3s cubic-bezier(.78,.14,.15,.86);
  transition: -webkit-transform .3s cubic-bezier(.78,.14,.15,.86);
  transition: transform .3s cubic-bezier(.78,.14,.15,.86);
  transition: transform .3s cubic-bezier(.78,.14,.15,.86),-webkit-transform .3s cubic-bezier(.78,.14,.15,.86);
  font-size: 12px;
  display: none;  
}
.spin-spinning {
  opacity: 1;
  position: static;
  display: inline-block;  
}
.spin-dot {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;  
}
.spin-dot:after, .spin-dot:before {
  content: '';
  border-radius: 50%;
  background-color: #2db7f5;
  -webkit-animation: antSpinBounce 2.2s infinite ease-in-out;
  animation: antSpinBounce 2.2s infinite ease-in-out;
  display: block;
  position: absolute;
  opacity: .5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.spin-dot:after, .spin-dot:before {
  content: '';
  border-radius: 50%;
  background-color: #2db7f5;
  -webkit-animation: antSpinBounce 2.2s infinite ease-in-out;
  animation: antSpinBounce 2.2s infinite ease-in-out;
  display: block;
  position: absolute;
  opacity: .5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.spin-dot:after {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
@keyframes antSpinBounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

.modal-export {
  position: fixed;
  z-index: 9999;
  background-color: #FFFFFF;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-height: 500px;
  min-width: 700px;
  max-height: 700px;
  max-width: 900px;
  box-shadow: 0 0 10px 2px #5f5e5e;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.modal-export__mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .4);
  z-index: 9998;
}

.modal-export__header {
  border-bottom: 1px solid #CCC;
  color: #333;
  font-size: 16px;
  padding: 5px 10px;
}

.modal-export__body {
  background-color: #FFFFFF;
  display: flex;
  flex: 1;
  padding: 10px;
  overflow-x: scroll;
  overflow: auto;
}

.modal-export__container {
  float: left;
}

.modal-export__break {
  clear: both;
}

.modal-export__label {
  float: left;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.modal-export__footer {
  border-top: 1px solid #CCC;
  color: #333;
  font-size: 16px;
  padding: 5px 10px;
  text-align: right;
}

.modal-export__buttonSair {
  background: #d9d9d9;
  width: 70px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px;
  font-size: 14px;
  margin-right: 10px;
}

.modal-export__buttonPDF {
  background: #0e77ca;
  width: 100px;
  color: #FFFFFF;
  border: 1px solid #0074d9;
  border-radius: 5px;
  font-size: 14px;
  padding: 3px;
}

.modal-export__img-item {
  width: 200px;
  height: 180px;
  padding: 5px;
}

.modal-export__buttonLabel {
  margin-right: 340px;
  margin-left: 5px;
}

.modal-export__name {
  display: flex;
  flex-direction: row;
}

.modal-export__text {
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  padding-left: 5px;
}

.image-compare {
  position: relative;
  width: 100%;
  height: 100%;
  &__element {
      position: relative;
      height: 100%;
      width: 50%;
      overflow: hidden;
      z-index: 998;
      -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
          -moz-user-select: none;
            -ms-user-select: none;
                user-select: none; 
      &--right {
          left: 50%;
          transform: translate(0, -100%);
          .image-compare__element__content {
              left: auto;
              right: 0;
          }
      }
      &__content {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
      }
  }
  &__slider {
      position: absolute;
      height: 100%;
      width: 4px;
      background:#000;
      left: 0;
      top: 0;
      z-index: 999;
      cursor: move;
      &::after {
          position: relative;
          content: "";
          display: block;
          left: 50%;
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQfkAx8UFCl56Iq4AAAAiklEQVRIx2NgGAWjYFiCEIYyvPJlDCG4JTUZdjD8Z5iK14CpDP8ZDjAYYEqIMsxg+MPwnygD/jP8YZjBIAoRYGRgYGBlyGGoYxCAKjnPsAuPAW4MhlDWB4YmhikMvxkYXBiuMPwnE95iCGViYGD4T3aQ/2f4TgUvUBiI5EWjPm4FFCWkUTAKhjAAAFU4Sy4wtFTVAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIwLTAzLTMxVDIwOjIwOjQxKzAwOjAwyQdSbAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMC0wMy0zMVQyMDoyMDo0MSswMDowMLha6tAAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC');
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          width: 32px;
          height: 100%;
          transform: translateX(-50%);
      }
  }
}