@viewer-prefix-cls: react-viewer;

.@{viewer-prefix-cls} {

  @zIndex: 1050;

  &-mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #373737;
    background-color: rgba(55, 55, 55, 0.6);
    height: 100%;
    filter: alpha(opacity=50);
  }

  &-close {
    position: absolute;
    top: 0px;
    right: 0px;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 0 0 0 40px;   
    cursor: pointer;
    background-color: rgba(0, 0, 0, .5);
    z-index: @zIndex;
  }

  &-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  &-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    text-align: center;
  }

  &-navbar {
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5);
  }

  @viewer-list-item-width: 30px;
  @viewer-list-item-height: 50px;
  @viewer-list-item-img-width: @viewer-list-item-width + 30px;
  @viewer-list-item-img-marginLeft: -(@viewer-list-item-img-width - @viewer-list-item-width) /2;

  &-list {
    margin: 0;
    padding: 0;
    height: @viewer-list-item-height;
    padding: 1px;
  }

  &-list > li {
    list-style: none;
    display: inline-block;
    width: @viewer-list-item-width;
    height: @viewer-list-item-height;
    cursor: pointer;
    overflow: hidden;
    margin-right: 1px;
  }

  &-list > li > img {
    width: @viewer-list-item-img-width;
    height: @viewer-list-item-height;
    margin-left: @viewer-list-item-img-marginLeft;
    opacity: .5;
  }  

  &-list > li.active > img {
    opacity: 1;
  }
}